In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
import pandas as pd
import missingno as msno
import numpy as np
sns.set(style="white")
matplotlib.rc('figure', figsize=[12, 5])

In [2]:
Ins_df = pd.read_csv("finalapi.csv")
Ins_df.head()

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,RETENTION_POLY_QTY,POLY_INFORCE_QTY,PREV_POLY_INFORCE_QTY,NB_WRTN_PREM_AMT,...,PL_BOUND_CT_ELINKS,PL_QUO_CT_ELINKS,PL_BOUND_CT_PLRANK,PL_QUO_CT_PLRANK,PL_BOUND_CT_eQTte,PL_QUO_CT_eQTte,PL_BOUND_CT_APPLIED,PL_QUO_CT_APPLIED,PL_BOUND_CT_TRANSACTNOW,PL_QUO_CT_TRANSACTNOW
0,3,3,BOILERMACH,CL,IN,2005,0,0,0,40.0,...,0,0,0,103,50,288,0,0,0,0
1,3,3,BOILERMACH,CL,IN,2006,0,0,0,151.0,...,0,0,0,103,50,288,0,0,0,0
2,3,3,BOILERMACH,CL,IN,2007,0,0,0,40.0,...,0,0,0,103,50,288,0,0,0,0
3,3,3,BOILERMACH,CL,IN,2008,0,0,0,69.0,...,0,0,0,103,50,288,0,0,0,0
4,3,3,BOILERMACH,CL,IN,2009,0,0,0,28.0,...,0,0,0,103,50,288,0,0,0,0

In [3]:
# We only work on 23 Columns so a data field on those columns

Updated_Ins_df = Ins_df[["AGENCY_ID","PRIMARY_AGENCY_ID","PROD_ABBR","PROD_LINE","STATE_ABBR",
                         "STAT_PROFILE_DATE_YEAR","NB_WRTN_PREM_AMT","WRTN_PREM_AMT",                         
                         "LOSS_RATIO_3YR","GROWTH_RATE_3YR","ACTIVE_PRODUCERS","MAX_AGE","MIN_AGE","VENDOR_IND"]]

Updated_Ins_df.head()

#Updated_Ins_df.to_csv('output.csv', index=False)

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND
0,3,3,BOILERMACH,CL,IN,2005,40.0,3074.63,99999.000000,99999.000000,14,85,48,N
1,3,3,BOILERMACH,CL,IN,2006,151.0,6562.28,0.695390,99999.000000,14,85,48,N
2,3,3,BOILERMACH,CL,IN,2007,40.0,6205.11,0.472729,99999.000000,14,85,48,N
3,3,3,BOILERMACH,CL,IN,2008,69.0,5159.89,0.445760,-0.082902,14,85,48,N
4,3,3,BOILERMACH,CL,IN,2009,28.0,4527.71,0.337674,-0.148078,14,85,48,N

In [6]:
# Locate value 9999 in Agency_ID

Updated_Ins_df.loc[Updated_Ins_df['AGENCY_ID'] == 99999]

# Looks like we ar good with Agency_ID

Empty DataFrame
Columns: [AGENCY_ID, PRIMARY_AGENCY_ID, PROD_ABBR, PROD_LINE, STATE_ABBR, STAT_PROFILE_DATE_YEAR, NB_WRTN_PREM_AMT, WRTN_PREM_AMT, LOSS_RATIO_3YR, GROWTH_RATE_3YR, ACTIVE_PRODUCERS, MAX_AGE, MIN_AGE, VENDOR_IND]
Index: []

In [9]:
# Locate value 99999 in PRIMARY_AGENCY_ID

Updated_Ins_df.loc[Updated_Ins_df['PRIMARY_AGENCY_ID'] == 99999].head()

# THere are 37874  rows with value 99999 and we will keep these

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND
511,11,99999,BOILERMACH,CL,IN,2005,0.0,242.00,99999.000000,99999.000000,56,87,36,N
512,11,99999,BOILERMACH,CL,IN,2006,0.0,406.00,0.603349,99999.000000,56,87,36,N
513,11,99999,BOILERMACH,CL,IN,2007,0.0,406.00,0.285437,99999.000000,56,87,36,N
514,11,99999,BOILERMACH,CL,IN,2008,0.0,164.00,0.182169,-0.252545,56,87,36,N
515,11,99999,BOILERMACH,CL,IN,2009,0.0,70.31,-0.018948,-0.276493,56,87,36,N

In [10]:
# creat a new df where  PRIMARY_AGENCY_ID =99999 exists

new_df = Updated_Ins_df

In [11]:
# Locate value 99999 in PROD_ABBR

new_df.loc[new_df['PROD_ABBR'] == 99999]

# THere are no values so we should be good.

Empty DataFrame
Columns: [AGENCY_ID, PRIMARY_AGENCY_ID, PROD_ABBR, PROD_LINE, STATE_ABBR, STAT_PROFILE_DATE_YEAR, NB_WRTN_PREM_AMT, WRTN_PREM_AMT, LOSS_RATIO_3YR, GROWTH_RATE_3YR, ACTIVE_PRODUCERS, MAX_AGE, MIN_AGE, VENDOR_IND]
Index: []

In [12]:
# Locate value 99999 in PROD_LINE

new_df.loc[new_df['PROD_LINE'] == 99999]

# THere are no values of 99999 so we should be good.

Empty DataFrame
Columns: [AGENCY_ID, PRIMARY_AGENCY_ID, PROD_ABBR, PROD_LINE, STATE_ABBR, STAT_PROFILE_DATE_YEAR, NB_WRTN_PREM_AMT, WRTN_PREM_AMT, LOSS_RATIO_3YR, GROWTH_RATE_3YR, ACTIVE_PRODUCERS, MAX_AGE, MIN_AGE, VENDOR_IND]
Index: []

In [13]:
# Locate value 99999 in STATE_ABBR

new_df.loc[new_df['STATE_ABBR'] == 99999]

# THere are no values of 99999 so we should be good.

Empty DataFrame
Columns: [AGENCY_ID, PRIMARY_AGENCY_ID, PROD_ABBR, PROD_LINE, STATE_ABBR, STAT_PROFILE_DATE_YEAR, NB_WRTN_PREM_AMT, WRTN_PREM_AMT, LOSS_RATIO_3YR, GROWTH_RATE_3YR, ACTIVE_PRODUCERS, MAX_AGE, MIN_AGE, VENDOR_IND]
Index: []

In [14]:
# Locate value 99999 in STAT_PROFILE_DATE_YEAR

new_df.loc[new_df['STAT_PROFILE_DATE_YEAR'] == 99999]

# THere are no values of 99999 so we should be good.

Empty DataFrame
Columns: [AGENCY_ID, PRIMARY_AGENCY_ID, PROD_ABBR, PROD_LINE, STATE_ABBR, STAT_PROFILE_DATE_YEAR, NB_WRTN_PREM_AMT, WRTN_PREM_AMT, LOSS_RATIO_3YR, GROWTH_RATE_3YR, ACTIVE_PRODUCERS, MAX_AGE, MIN_AGE, VENDOR_IND]
Index: []

In [15]:
# Locate value 99999 in NB_WRTN_PREM_AMT

new_df.loc[new_df['NB_WRTN_PREM_AMT'] == 99999]

# THere is only 1 value with 99999

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND
209024,9733,9733,FIREALLIED,CL,OH,2014,99999.0,267009.56,0.70552,0.005181,55,87,35,Y

In [17]:
# Locate value 99999 in NB_WRTN_PREM_AMT

new_df.loc[new_df['WRTN_PREM_AMT'] == 99999].head()

# THere is no value with 99999

Empty DataFrame
Columns: [AGENCY_ID, PRIMARY_AGENCY_ID, PROD_ABBR, PROD_LINE, STATE_ABBR, STAT_PROFILE_DATE_YEAR, NB_WRTN_PREM_AMT, WRTN_PREM_AMT, LOSS_RATIO_3YR, GROWTH_RATE_3YR, ACTIVE_PRODUCERS, MAX_AGE, MIN_AGE, VENDOR_IND]
Index: []

In [18]:
# Locate value 99999 in PREV_WRTN_PREM_AMT

new_df.loc[new_df['LOSS_RATIO_3YR'] == 99999].head()

# THere is 12000 rows value with 99999

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND
0,3,3,BOILERMACH,CL,IN,2005,40.0,3074.63,99999.0,99999.0,14,85,48,N
10,3,3,BOILERMACH,CL,IN,2015,0.0,1922.83,99999.0,99999.0,14,85,48,N
11,3,3,BOILERMACH,CL,KY,2005,0.0,361.68,99999.0,99999.0,14,85,48,N
21,3,3,BOILERMACH,CL,KY,2015,0.0,0.00,99999.0,99999.0,14,85,48,N
22,3,3,BOP,CL,IN,2005,0.0,13607.47,99999.0,99999.0,14,85,48,N

In [19]:
# Find out the median value of LOSS_RATIO_3YR 
new_df.LOSS_RATIO_3YR.median()

0.543219269

In [20]:
# replace the value 99999 with the median value for simplify

new_df.loc[:, 'LOSS_RATIO_3YR'].replace([99999], [new_df.LOSS_RATIO_3YR.median()], inplace=True)
new_df.head()

/Users/rmahalin/anaconda3/envs/Pythondata/lib/python3.7/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND
0,3,3,BOILERMACH,CL,IN,2005,40.0,3074.63,0.543219,99999.000000,14,85,48,N
1,3,3,BOILERMACH,CL,IN,2006,151.0,6562.28,0.695390,99999.000000,14,85,48,N
2,3,3,BOILERMACH,CL,IN,2007,40.0,6205.11,0.472729,99999.000000,14,85,48,N
3,3,3,BOILERMACH,CL,IN,2008,69.0,5159.89,0.445760,-0.082902,14,85,48,N
4,3,3,BOILERMACH,CL,IN,2009,28.0,4527.71,0.337674,-0.148078,14,85,48,N

In [21]:
# Drop ACTIVE_PRODUCERS , MAX_AGE & MIN_AGE is 99999

new_df.drop(new_df.loc[new_df['ACTIVE_PRODUCERS']==99999].index, inplace=True)
new_df.drop(new_df.loc[new_df['MAX_AGE']==99999].index, inplace=True)
new_df.drop(new_df.loc[new_df['MIN_AGE']==99999].index, inplace=True)

new_df.head()

/Users/rmahalin/anaconda3/envs/Pythondata/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND
0,3,3,BOILERMACH,CL,IN,2005,40.0,3074.63,0.543219,99999.000000,14,85,48,N
1,3,3,BOILERMACH,CL,IN,2006,151.0,6562.28,0.695390,99999.000000,14,85,48,N
2,3,3,BOILERMACH,CL,IN,2007,40.0,6205.11,0.472729,99999.000000,14,85,48,N
3,3,3,BOILERMACH,CL,IN,2008,69.0,5159.89,0.445760,-0.082902,14,85,48,N
4,3,3,BOILERMACH,CL,IN,2009,28.0,4527.71,0.337674,-0.148078,14,85,48,N

In [24]:
new_df['AVG_AGE'] = (new_df["MAX_AGE"] - new_df["MIN_AGE"]) / new_df["ACTIVE_PRODUCERS"]

new_df['AGENCY_PERFORMANCE'] = new_df["WRTN_PREM_AMT"]*(1-new_df["LOSS_RATIO_3YR"])

new_df["DEMOGRAPHY"] = ""

new_df["INSURABLE_POPULATION"] = ""
new_df.head()

/Users/rmahalin/anaconda3/envs/Pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/rmahalin/anaconda3/envs/Pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/rmahalin/anaconda3/envs/Pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/rmahalin/anaconda3/envs/Pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,STATE_ABBR,STAT_PROFILE_DATE_YEAR,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND,AVG_AGE,AGENCY_PERFORMANCE,DEMOGRAPHY,INSURABLE_POPULATION
0,3,3,BOILERMACH,CL,IN,2005,40.0,3074.63,0.543219,99999.000000,14,85,48,N,2.642857,1404.431739,,
1,3,3,BOILERMACH,CL,IN,2006,151.0,6562.28,0.695390,99999.000000,14,85,48,N,2.642857,1998.938145,,
2,3,3,BOILERMACH,CL,IN,2007,40.0,6205.11,0.472729,99999.000000,14,85,48,N,2.642857,3271.777397,,
3,3,3,BOILERMACH,CL,IN,2008,69.0,5159.89,0.445760,-0.082902,14,85,48,N,2.642857,2859.816123,,
4,3,3,BOILERMACH,CL,IN,2009,28.0,4527.71,0.337674,-0.148078,14,85,48,N,2.642857,2998.818324,,

In [32]:
new1_df=new_df.sort_values(['STATE_ABBR', 'STAT_PROFILE_DATE_YEAR'], ascending=[True, True])
new1_df=new1_df.rename(columns = {'STATE_ABBR':'State'})
new1_df=new1_df.rename(columns = {'STAT_PROFILE_DATE_YEAR':'Year'})
new1_df.head()

,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,State,Year,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND,AVG_AGE,AGENCY_PERFORMANCE,DEMOGRAPHY,INSURABLE_POPULATION
0,3,3,BOILERMACH,CL,IN,2005,40.0,3074.63,0.543219,99999.0,14,85,48,N,2.642857,1404.431739,,
22,3,3,BOP,CL,IN,2005,0.0,13607.47,0.543219,99999.0,14,85,48,N,2.642857,6215.630094,,
44,3,3,COMMAUTO,CL,IN,2005,49.0,101913.67,0.543219,99999.0,14,85,48,N,2.642857,46552.200681,,
99,3,3,COMMINLMAR,CL,IN,2005,111.0,6850.32,0.543219,99999.0,14,85,48,N,2.642857,3129.094177,,
121,3,3,COMMPOL,CL,IN,2005,0.0,0.00,0.543219,99999.0,14,85,48,N,2.642857,0.000000,,

In [33]:
census_df = pd.read_csv("census_ext.csv")
census_df.head()

  State  Year  INSURABLE_POPULATION
0    AK  2005                461168
1    AK  2006                469434
2    AK  2007                475655
3    AK  2008                483416
4    AK  2009                491537

In [34]:
final_agency_df = pd.merge(census_df, new1_df, how='left', on=['State', 'Year'])
final_agency_df

,State,Year,INSURABLE_POPULATION_x,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND,AVG_AGE,AGENCY_PERFORMANCE,DEMOGRAPHY,INSURABLE_POPULATION_y
0,AK,2005,461168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK,2006,469434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AK,2007,475655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AK,2008,483416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AK,2009,491537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
final_agency_df

,State,Year,INSURABLE_POPULATION_x,AGENCY_ID,PRIMARY_AGENCY_ID,PROD_ABBR,PROD_LINE,NB_WRTN_PREM_AMT,WRTN_PREM_AMT,LOSS_RATIO_3YR,GROWTH_RATE_3YR,ACTIVE_PRODUCERS,MAX_AGE,MIN_AGE,VENDOR_IND,AVG_AGE,AGENCY_PERFORMANCE,DEMOGRAPHY,INSURABLE_POPULATION_y
0,AK,2005,461168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK,2006,469434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AK,2007,475655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AK,2008,483416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AK,2009,491537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AK,2010,505601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AK,2011,513904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AK,2012,523490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AK,2013,530194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AK,2014,531924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AK,2015,534628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AL,2005,3318359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AL,2006,3369308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,AL,2007,3404841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,AL,2008,3441599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,AL,2009,3478979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,AL,2010,3513102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,AL,2011,3539795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,AL,2012,3565650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,AL,2013,3588526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AL,2014,3607853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AL,2015,3622246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AR,2005,2013336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AR,2006,2045115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,AR,2007,2065653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AR,2008,2085959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AR,2009,2104342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AR,2010,2126248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AR,2011,2146192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AR,2012,2159648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208158,WV,2015,1417188,9502.0,9502.0,FIREALLIED,CL,0.0,23.54,0.543219,99999.0,25.0,72.0,23.0,Y,1.960000,10.752618,,
208159,WV,2015,1417188,9502.0,9502.0,GENERALIAB,CL,0.0,43.00,0.543219,99999.0,25.0,72.0,23.0,Y,1.960000,19.641571,,
208160,WV,2015,1417188,9502.0,9502.0,WORKCOMP,CL,0.0,202.00,0.543219,99999.0,25.0,72.0,23.0,Y,1.960000,92.269708,,
208161,WV,2015,1417188,9550.0,9550.0,BOILERMACH,CL,0.0,16.00,0.543219,99999.0,60.0,82.0,31.0,Y,0.850000,7.308492,,
208162,WV,2015,1417188,9550.0,9550.0,COMMAUTO,CL,0.0,921.00,0.543219,99999.0,60.0,82.0,31.0,Y,0.850000,420.695053,,
208163,WV,2015,1417188,9550.0,9550.0,COMMPOL,CL,0.0,0.00,0.543219,99999.0,60.0,82.0,31.0,Y,0.850000,0.000000,,
208164,WV,2015,1417188,9550.0,9550.0,FIREALLIED,CL,0.0,206.00,0.543219,99999.0,60.0,82.0,31.0,Y,0.850000,94.096831,,
208165,WV,2015,1417188,9550.0,9550.0,GENERALIAB,CL,0.0,422.00,0.543219,99999.0,60.0,82.0,31.0,Y,0.850000,192.761468,,
208166,WV,2015,1417188,9571.0,9571.0,COMMAUTO,CL,0.0,0.00,0.543219,99999.0,12.0,76.0,36.0,N,3.333333,0.000000,,
208167,WV,2015,1417188,9660.0,6934.0,BOILERMACH,CL,0.0,0.00,0.543219,99999.0,14.0,76.0,27.0,Y,3.500000,0.000000,,
208168,WV,2015,1417188,9660.0,6934.0,COMMPOL,CL,0.0,0.00,0.543219,99999.0,14.0,76.0,27.0,Y,3.500000,0.000000,,
208169,WV,2015,1417188,9660.0,6934.0,COMMUMBREL,CL,0.0,0.00,0.543219,99999.0,14.0,76.0,27.0,Y,3.500000,0.000000,,
208170,WV,2015,1417188,9660.0,6934.0,FIREALLIED,CL,0.0,0.00,0.543219,99999.0,14.0,76.0,27.0,Y,3.500000,0.000000,,
208171,WV,2015,1417188,9660.0,6934.0,GARAGE,CL,0.0,0.00,0.543219,99999.0,14.0,76.0,27.0,Y,3.500000,0.000000,,
208172,WV,2015,1417188,9660.0,6934.0,GENERALIAB,CL,0.0,0.00,0.543219,99999.0,14.0,76.0,27.0,Y,3.500000,0.000000,,
208173,WV,2015,1417188,9733.0,9733.0,BOILERMACH,CL,0.0,0.00,0.543219,99999.0,55.0,87.0,35.0,Y,0.945455,0.000000,,
208174,WV,2015,1417188,9733.0,9733.0,FIREALLIED,CL,0.0,0.00,0.543219,99999.0,55.0,87.0,35.0,Y,0.945455,0.000000,,
208175,WV,2015,1417188,9733.0,9733.0,GENERALIAB,CL,0.0,0.00,0.543219,99999.0,55.0,87.0,35.0,Y,0.945455,0.000000,,
208176,WV,2015,1417188,9942.0,9942.0,WORKCOMP,CL,0.0,0.00,0.543219,99999.0,98.0,94.0,26.0,Y,0.693878,0.000000,,
208177,WY,2005,374052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208178,WY,2006,381457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208179,WY,2007,390519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208180,WY,2008,398445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208181,WY,2009,408396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208182,WY,2010,412956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208183,WY,2011,416658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208184,WY,2012,424726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208185,WY,2013,429157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208186,WY,2014,430399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208187,WY,2015,432206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
final_agency_df.to_csv("final_agency_data.csv", header=True)